chromadb[duckdb]         # <= duckdb+parquet storage
pysqlite3-binary         # Provides sqlite3 ≥ 3.35.0 for Python
chroma
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
# google-cloud-aiplatform>=1.38
#fastapi
#uvicorn
sentence-transformers
